/**
 *
 * Sass Typography
 *
 * @author Louis Young
 *
 */

// Fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

body {
    font-family: 'Montserrat',
        sans-serif;
}

* {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1.12rem;
}

h5 {
    font-size: .83rem;
}

h6 {
    font-size: .75rem;
}